<div>
  <div class="row">
    <div class="col-md-12">
      <h3>Extracted Measurements</h3>

      <button class="btn btn-success" data-ng-click="save()">Save</button>&nbsp;
      <button class="btn btn-info" data-ng-click="download()">Download</button>
      <button class="btn btn-warning" data-ng-click="upload()" data-ng-disabled="true">Upload</button>
    </div>
  </div>

  <hr />

  <div class="row">
    <div class="col-md-4">
      <div class="list-group measurements-container source" ui-sortable="sortableOptions" data-ng-model="measurements" style="height: 650px; overflow-y: scroll;">
        <a class="list-group-item measurements"
           data-ng-repeat="m in measurements"
           style="padding:5px;">
            <span data-ng-bind="m.name" data-ng-click="showDistribution(m.name)" class="link"></span>
            <span class="pull-right">
              <span data-ng-bind="m.count" class="badge"></span>
              <i class="fa fa-times" data-ng-click="measurements.splice($index, 1)"></i>
              &nbsp;&nbsp;
            </span>
        </a>
      </div>
    </div>

    <div class="col-md-4">
      <div class="row">
        <div class="col-md-9">
          <div class="form-group">
            <input class="form-control" placeholder="Group Name" data-ng-model="groupName"/>
          </div>
        </div>

        <div class="col-md-3">
          <div class="form-group">
            <button class="btn btn-primary" data-ng-click="addGroup(groupName)">Add</button>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <table class="table table-bodered">
            <thead>
              <tr><th>Name</th><th>#</th></tr>
            </thead>
            <tbody>
              <tr data-ng-show="!groups || groups.length == 0">
                <td colspan="2"><i class="text-warning">No groups</i></td>
              </tr>

              <tr data-ng-repeat="g in groups" data-ng-class="{'success' : (selectedGroup == $index) }" data-ng-click="selectGroup($index)">
                <td data-ng-bind="g"></td>
                <td><a class="text-danger" data-ng-click="removeGroup($index)"><i class="fa fa-times"></i></a></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-md-4 well measurements-container target"
         data-ng-if="groups[selectedGroup]"
         ui-sortable="sortableOptions" ng-model="allMeasurements[groups[selectedGroup]]"
         style="height: 650px; overflow-y: scroll;">
      <a class="list-group-item measurements"
         data-ng-repeat="m in allMeasurements[groups[selectedGroup]]"
         style="padding:5px;">
        <span data-ng-bind="m.name" data-ng-click="showDistribution(m.name)" class="link"></span>
      </a>
    </div>
  </div>
</div>
