<div>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-12">
        <div polar-filter-geo data-filter="data.filter" data-ng-if="data.filter.type == 'geo'"></div>

        <div polar-filter-time data-filter="data.filter" data-ng-if="data.filter.type == 'time'"></div>

        <div polar-filter-concept data-filter="data.filter" data-ng-if="data.filter.type == 'concept'"></div>
      </div>
    </div>

  </div>

  <div class="modal-footer">
    <button class="btn btn-info"
            type="button"
            data-ng-click="ok(data.filter)">Save</button>
  </div>
</div>
