<div>
  <div class="row">
    <div class="col-md-6">
      <nvd3 options="typeOptions" data="typeData"></nvd3>
    </div>

    <div class="col-md-6">
      <table class="table table-bordered">
        <thead>
          <tr>
            <td></td>
            <td>Max</td>
            <td>Average</td>
            <td>Sum (Bytes)</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>Number of Documents</th>
            <td colspan="3"><center data-ng-bind="docCount | number"></center></td>
          </tr>

          <tr data-ng-show="results.textSize.avg">
            <th>Extracted information size</th>
            <td data-ng-bind="results.textSize.max| number"></td>
            <td data-ng-bind="results.textSize.avg | number:2"></td>
            <td data-ng-bind="results.textSize.sum| number"></td>
          </tr>

          <tr data-ng-show="results.fileSize.avg">
            <th>File size</th>
            <td data-ng-bind="results.fileSize.max| number"></td>
            <td data-ng-bind="results.fileSize.avg | number:2"></td>
            <td data-ng-bind="results.fileSize.sum| number"></td>
          </tr>

          <tr data-ng-show="results.textSize.avg">
            <th>Information Extracted ( Extracted size / File size )</th>
            <td data-ng-bind="results.textSize.max / results.fileSize.max | number"></td>
            <td data-ng-bind="results.textSize.avg / results.fileSize.avg | number:2"></td>
            <td data-ng-bind="results.textSize.sum / results.fileSize.sum | number"></td>
          </tr>

          <tr data-ng-show="results.metaSize.avg">
            <th>Metadata size</th>
            <td data-ng-bind="results.metaSize.max| number"></td>
            <td data-ng-bind="results.metaSize.avg | number:2"></td>
            <td data-ng-bind="results.metaSize.sum| number"></td>
          </tr>

          <tr data-ng-show="results.metaSize.avg">
            <th>Metadata ratio ( Metadata size / File size )</th>
            <td data-ng-bind="results.metaSize.max / results.fileSize.max | number"></td>
            <td data-ng-bind="results.metaSize.avg / results.fileSize.avg | number:2"></td>
            <td data-ng-bind="results.metaSize.sum / results.fileSize.sum | number"></td>
          </tr>

        </tbody>
      </table>

      <hr />

      <nvd3 options="options" data="data"></nvd3>

      <hr />

      <select class="form-control" data-ng-model="sE" data-ng-init="sE = keys[0]" data-ng-options="k for k in keys"></select>

      <table class="table table-striped">
        <thead>
          <tr>
            <th>Type</th>
            <th>Max</th>
            <th>Average</th>
            <th>Total</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Extracted terms</td>
            <td data-ng-bind="results[sE + 'OC'].max| number"></td>
            <td data-ng-bind="results[sE + 'OC'].avg | number:2"></td>
            <td data-ng-bind="results[sE + 'OC'].sum| number"></td>
          </tr>
          <tr>
            <td>Distinct extracted terms</td>
            <td data-ng-bind="results[sE + 'TC'].max| number"></td>
            <td data-ng-bind="results[sE + 'TC'].avg | number:2"></td>
            <td data-ng-bind="results[sE + 'TC'].sum| number"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
