
insight-visualizer/dist
insight-visualizer/.tmp
insight-visualizer/.sass-cache
insight-visualizer/.bowerrc
insight-visualizer/.editorconfig
insight-visualizer/.jshintrc
insight-visualizer/.travis.yml

*.pyc

insight-generator/results/*
insight-generator/experiments/*
insight-generator/nsidc/*


.DS_Store
*.error

Docker/data

# don't include installed dependencies
node_modules
bower_components

# don't include js build outputs
build
