<div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <select class="form-control" data-ng-model="eType" data-ng-init="eType = 'places'">
          <option value="places">Places</option>
          <option value="organizations">Organizations</option>
          <option value="people">People</option>
          <option value="time">Times</option>
          <option value="money">Money</option>
          <option value="percentages">Percentages</option>
        </select>
      </div>
    </div>

    <div class="col-md-6">
      <div polar-analytics-filter data-field="field" data-fn="fn"></div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <nvd3 options="options" data="data"></nvd3>
    </div>
  </div>
</div>
