<div>
  <div class="row">
    <div class="col-md-2">
      <div class="btn-group" role="group" data-ng-init="view = 'chart'">
        <button type="button"
                class="btn btn-info"
                data-ng-disabled="view == 'chart'"
                data-ng-click="view = 'chart'">Chart</button>
        <button type="button"
                class="btn btn-info"
                data-ng-disabled="view == 'graph'"
                data-ng-click="view = 'graph'">Graph</button>
      </div>
    </div>
    <div class="col-md-4">
        <rzslider rz-slider-model="nResults"
            rz-slider-options="{ 'floor': 0, 'ceil': 500, 'step': 1 }"></rzslider>
    </div>

    <div class="col-md-2">
        <rzslider rz-slider-model="inferenceBound"
            rz-slider-options="{ 'floor': 2, 'ceil': 10, 'step': 1 }"></rzslider>
    </div>
    <div class="col-md-4">
      <div polar-analytics-filter data-field="field" data-fn="fn"></div>
    </div>
  </div>

  <div class="row" data-ng-if="view == 'chart'">
    <div class="col-md-12">
      <nvd3 options="options" data="data" api="api.api"></nvd3>
    </div>
  </div>

  <div class="row" data-ng-if="view == 'graph'">
    <div class="col-md-12">
      <div class="graph-container"
           tg-graph
           graph="graph"
           on-load="onGraphLoad(graph)"
           edge-menu="edgeMenu"
           node-menu="nodeMenu"
           metadata="metadata"
           configration="configration"
           behavior="behavior"
           stream="stream"
           helpers="helpers"></div>
    </div>
  </div>

  <div class="row" data-ng-if="infered.length > 0">
    <div class="col-md-6">
      <h4>Semantic inference</h4>

      <table class="table table-bordered">
        <thead>
          <tr><th>Inferred</th></tr>
        </thead>
        <tr data-ng-repeat="i in infered">
          <td data-ng-bind="i"></td>
        </tr>
      </table>
    </div>
  </div>
</div>
