<div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <rzslider rz-slider-model="slider.value" rz-slider-options="{ 'floor': 1, 'ceil': 10000 }"></rzslider>
      </div>
    </div>

    <div class="col-md-6">
      <div polar-analytics-filter data-field="field" data-fn="fn"></div>
    </div>
  </div>

  <div class="row" class="idf-location-cont">
    <div class="col-md-8 col-md-offset-2">
      <leaflet lf-center="center" layers="layers" width="1050px" height="850px" defaults="options" maxbounds="options.maxBounds"></leaflet>
    </div>
  </div>
</div>
