<div>
  <div class="row">
    <div class="col-md-12">
      <h3>
        Application configuration
        <span class="badge" data-ng-show="!(isConfigSet() && isOntologySet())">Incomplete</span>
        <span class="badge" data-ng-show="isConfigSet() && isOntologySet()">Complete</span>
      </h3>

      <button class="btn btn-primary" data-ng-click="loadDefault(1)">Trec-DD-PDF</button>
      <button class="btn btn-primary" data-ng-click="loadDefault(2)" data-ng-disabled="true">Trec-DD-Sample</button>
      <button class="btn btn-primary" data-ng-click="loadDefault(3)">NSIDC-crawl</button>

      <hr />
    </div>
  </div>


  <div class="row">
    <div class="col-md-6">
      <table class="table">
        <thead>
          <tr>
            <th>Field</th>
            <th>Value</th>
          </tr>
        </thead>


        <tbody>
          <tr>
            <td>Elastic search endpoint</td>
            <td><input class="form-control" data-ng-model="config.endpoint" placeholder="http://mydomain/elasticsearch" /></td>
          </tr>

          <tr>
            <td>Elastic search extraction index</td>
            <td><input class="form-control" data-ng-model="config.index" placeholder="polar-deep-insights" /></td>
          </tr>

          <tr>
            <td>Elastic search extraction doc-type</td>
            <td><input class="form-control" data-ng-model="config.docType" placeholder="docs" /></td>
          </tr>

          <tr>
            <td>Elastic search measurements index</td>
            <td><input class="form-control" data-ng-model="config.measurementIndex" placeholder="polar-measurements" /></td>
          </tr>

          <tr>
            <td>Elastic search measurements doc-type</td>
            <td><input class="form-control" data-ng-model="config.measurementDocType" placeholder="raw-measurements" /></td>
          </tr>

          <tr>
            <td>Entity Count JSON path</td>
            <td><input class="form-control" data-ng-model="config.entityCountPath" placeholder="http://mydomain/entitiy-count.json" /></td>
          </tr>

          <tr>
            <td>Sweet ontology path</td>
            <td><input class="form-control" data-ng-model="config.sweetOntologyPath" placeholder="http://mydomain/sweet.json" /></td>
          </tr>

          <tr>
            <td colspan="2">
              <button class="btn btn-success" data-ng-click="saveConfig(config)">Save</button>
            </td>
          </tr>

        </tbody>
      </table>
    </div>

    <div class="col-md-6">
      <p>
        A concept ontology is required for this application to function.

        You can <a href="/#!/concept_editor">create</a> your own ontology or
        download a predefined ontology from your elasticsearch index.
      </p>

      <p>
        <i class="text-danger" data-ng-show="!isOntologySet()">
          A concept ontology has not been setup yet.
        </i>
      </p>

      <button class="btn btn-warning" data-ng-click="downloadOntology()">Download</button>

      <hr />

      <p>
        The analytics interface requires additional precomputed information (ie)
        document counts per-entity.
      </p>

      <p>
        <i class="text-danger" data-ng-show="!entityCountSet">
          This has not been setup yet
        </i>
      </p>

      <button class="btn btn-info" data-ng-click="downloadEntityCount()" data-ng-disabled="!config.entityCountPath">Download</button>

      <hr />

      You can Curate extracted measurements <a href="/#!/measurement_editor">here</a>.
    </div>
  </div>
</div>
