<div>
  <div class="row">
    <div class="col-md-12">
      <tags-input ng-model="sC"
                  display-property="name"
                  replace-spaces-with-dashes="false"
                  data-add-from-autocomplete-only="true"
                  data-min-length="1"
                  placeholder="Search for a measurement">
        <auto-complete source="filterMeasurements($query)"
                       load-on-empty="true" load-on-focus="true" load-on-down-arrow="true"></auto-complete>
      </tags-input>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <button class="btn btn-primary" data-ng-click="addFilter(sC); sC=[]">
        Add Filter &nbsp;<i class="fa fa-plus"></i>
      </button>
    </div>
  </div>

  <hr />

  <div class="row">
    <div class="col-md-12">

      <table class="table table-striped" data-ng-show="filter.measurements.length > 0">
        <thead>
          <tr>
            <th>Measurement</th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <tr data-ng-repeat="g in filter.measurements">
            <td><a data-ng-bind="g.name" data-ng-click="openHist(g.name)"></a></td>
            <td class="cursor text-danger" data-ng-click="filter.measurements.splice($index, 1)"><i class="fa fa-times"></i></td>
          </tr>
        </tbody>
      </table>


    </div>
  </div>
</div>
