<div>
  <div class="row">
    <div class="col-md-9">
      <leaflet lf-center="map.center"
           lf-draw="map.drawOptions" height="480px" width="100%">
      </leaflet>
    </div>

    <div class="col-md-3" style="height: 480px; overflow-y:scroll;">
      <p data-ng-show="filter.regions.length == 0">
        <i>Draw a geographic bound</i>
      </p>
      <table class="table table-striped" data-ng-show="filter.regions.length > 0">
        <thead>
          <tr>
            <th>Regions</th>
            <th>Coordinates</th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <tr data-ng-repeat="r in filter.regions">
            <td data-ng-bind="r.name"></td>
            <td>
              <div data-ng-repeat="c in r.coords" data-ng-bind="c"></div>
            </td>
            <td class="cursor text-danger" data-ng-click="removeRegion($index)"><i class="fa fa-times"></i></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
