<div>
  <div class="row">
    <div class="col-md-6">
      <select class="form-control" data-ng-model="type" data-ng-init="type = 'places'">
        <option value="places">Places</option>
        <option value="organizations">Organizations</option>
        <option value="people">People</option>
        <option value="time">Times</option>
        <option value="money">Money</option>
        <option value="percentages">Percentages</option>
      </select>
    </div>

    <div class="col-md-6">
      <tags-input ng-model="sC"
                  display-property="name"
                  replace-spaces-with-dashes="false"
                  data-add-from-autocomplete-only="true"
                  data-min-length="1"
                  placeholder="Search for a measurement">
        <auto-complete source="filterEntities($query)"
                       load-on-empty="true" load-on-focus="true" load-on-down-arrow="true"></auto-complete>
      </tags-input>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <button class="btn btn-primary" data-ng-click="addEntity(sC); sC=[]">
        Add Entity &nbsp;<i class="fa fa-plus"></i>
      </button>
    </div>
  </div>

  <hr />

  <div class="row">
    <div class="col-md-12">

      <table class="table table-striped" data-ng-show="filter.entities.length > 0">
        <thead>
          <tr>
            <th>Entity</th>
            <th>Type</th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <tr data-ng-repeat="g in filter.entities">
            <td data-ng-bind="g.name"></td>
            <td data-ng-bind="g.type"></td>
            <td class="cursor text-danger" data-ng-click="filter.entities.splice($index, 1)"><i class="fa fa-times"></i></td>
          </tr>
        </tbody>
      </table>


    </div>
  </div>
</div>
