<div class="aside" data-ng-class="show ? 'show' : ''" style="z-index: 10000;">
  <div class="aside-header">
    <button class="close" ng-click="close()" type="button">×</button>
    <h5 class="aside-title" data-ng-bind="element.id"></h5>
  </div>

  <div class="row">
    <ul class="nav nav-pills nav-justified nav-pills-aside">
      <li class="active"><a href="#"><i class="fa fa-bars"></i></a></li>
    </ul>
  </div>

  <div class="row">
    <h5 class="text-center title-tab">
      Properties
    </h5>
  </div>

  <div class="row aside-form">
    <div class="col-md-12">
      <form class="form-horizontal">

        <div class="form-group element-fields"
             data-ng-show="element.isVertex || element.isEdge"
             data-ng-repeat="(key, value) in element.toJSON()">
          <label class="col-md-6 control-label" data-ng-bind="key"></label>
          <div class="col-md-6">
            <p class="form-control-static" data-ng-bind="value"></p>
          </div>
        </div>

      </form>
    </div>
  </div>
</div>
