<div>
  <div class="modal-body">
    <fieldset class="form-group">
      <select class="form-control" placeholder="Filter Type" data-ng-model="filterType">
        <option value="" disabled>-- Filter Type --</option>
        <option value="geo">Geographic</option>
        <option value="time">Date Range</option>
        <option value="concept">Conceptual</option>
      </select>
     </fieldset>
  </div>

  <div class="modal-footer">
    <button class="btn btn-info"
            type="button"
            data-ng-click="ok({ type: filterType })"
            data-ng-disabled="!filterType">Add</button>
  </div>
</div>
