<div>
  <div class="row">
    <div class="col-md-12">

       <fieldset class="form-group">
        <input class="form-control" placeholder="Concept Name" data-ng-model="concept.name">
       </fieldset>

       <fieldset class="form-group">
        <select class="form-control" placeholder="Concept Type" data-ng-model="concept.type">
          <option value="" disabled>-- Concept Type --</option>
          <option value="meta">High Level</option>
          <option value="basic">Low Level</option>
        </select>
       </fieldset>

       <fieldset class="form-group">
        <tags-input data-ng-model="concept.alias"
                    data-min-length="1"
                    replace-spaces-with-dashes="false"></tags-input>
       </fieldset>
    </div>
  </div>
</div>
