<div>
  <div class="row">
    <div class="col-md-4 col-md-offset-8">
      <div class="pull-right">
        <button data-ng-click="init()" class="btn btn-info btn-xs">Refresh</button>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <nvd3 options="options" data="data"></nvd3>
    </div>
  </div>

  <div class="row" data-ng-show="list.length > 0" data-ng-show="showMeta">
    <div class="col-md-12" style="white-space: pre-line;word-wrap: break-word;">
      <p>
        <span><b>BUCKET RANGE : </b> {{ range }}</span>
        <span><b>BUCKET Average : </b> {{ avg }}</span>
        <span><b>BUCKET VALUES : </b> {{ list.join(', ') }}</span>
      </p>
    </div>
  </div>
</div>
