<div>
  <div class="row">
    <div class="col-md-12">
      <div class="graph-container"
           tg-graph
           graph="graph"
           on-load="onGraphLoad(graph)"
           edge-menu="edgeMenu"
           node-menu="nodeMenu"
           metadata="metadata"
           configration="configration"
           behavior="behavior"
           stream="stream"
           helpers="helpers"></div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="graph-panel">
        <button class="btn btn-primary" data-ng-click="addConcept()">
          <i class="fa fa-plus"></i>
        </button>

        <button class="btn btn-info" data-ng-click="saveLocally()">
          <i class="fa fa-floppy-o"></i>
        </button>

        <!-- TODO: enable users to set a name while uploading -->
        <button class="btn btn-warning"  data-ng-click="upload()" data-ng-disabled="true">
          <i class="fa fa-cloud-upload"></i>
        </button>

        <a href="#/config" class="btn btn-warning">
          <i class="fa fa-cloud-download"></i>
        </a>

        <button class="btn btn-success" data-ng-click="export()">
          <i class="fa fa-external-link"></i>
        </button>

        <button class="btn btn-secondary pull-right" data-ng-click="helpers.fullScreen()">
          <i class="fa fa-arrows-alt"></i>
        </button>
      </div>
    </div>
  </div>
</div>
