$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

@import "./plugins/_bootstrap-variables.scss";
@import "./plugins/_bootstrap.scss";

@import "./vendor/aside.scss";
@import "./vendor/graph_viz_engine.scss";

@import "./plugins/animate.scss";

$c-success: #8cc63f;
$c-success-lighter: #c3da72;

$c-info: #0098dd;
$c-info-lighter: #b2ddff;

$c-warning: #f5bd54;
$c-warning-lighter: #fad297;

$c-danger: #ff6633;
$c-danger-lighter: #ff9966;

$c-error: #ff0000;

$c-navy-blue: #1C315A;

$c-orange: #ff8001;
$c-purple: #9933ff;
$c-lime-green: #80ff00;
$c-skyblue: #3399ff;
$c-red: #ff0000;
$c-yellow: #ffff00;

.navbar{
    margin-bottom: 0px;
  border-radius: 0px;
}

.body-container{
  background-color: #fff;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .15);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .15);
  box-shadow: 0 1px 2px rgba(0, 0, 0, .15);
}

body{
  background: #e5e5e5;
}

#c-notification.full-screen{
  position: absolute;
  top: 0px;
  height: 100%;
  width: 100%;
  background: rgba(245, 245, 245, 0.77);
  color: black;
}

#c-notification{
  text-align: center;
  width: 100%;
  top: 40px;
  z-index: 10001;
  position: absolute;
  .c-global-loader{
    position: relative;
    padding: 10px;
    background: rgba(0,0,0,0.8);
    color: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
  }
  .c-global-loader-center{
    font-size: 25px;
    top: 43%;
    position: absolute;
    width: 100%;
  }
  .c-alert{
    width: 650px;
    font-size: 14px;
    display: block;
    color: white;
    padding: 10px;
    border-radius: 3px;
    margin: 0 auto;
    height: 45px;
    text-align: left;
    .close{
      float: right;
    }
    .glyphicon{
      font-size: 30px;
      float: left;
      margin-right: 15px;
    }
    .body{
      position: relative;
      top: 3px;
      position: relative;
    }
  }
  .c-danger{
    background-color: $c-danger-lighter;
    .c-alert-icon{
      background-color: $c-danger;
    }
  }
  .c-success{
    background-color: $c-success-lighter;
    .c-alert-icon{
      background-color: $c-success;
    }
  }
  .c-info{
    background-color: $c-info-lighter;
    .c-alert-icon{
      background-color: $c-info;
    }
  }
  .c-warning{
    background-color: $c-warning-lighter;
    .c-alert-icon{
      background-color: $c-warning;
    }
  }
  .c-danger-icon{
    @extend .glyphicon-remove-sign;
  }
  .c-success-icon{
    @extend .glyphicon-ok-sign;
  }
  .c-info-icon{
    @extend .glyphicon-info-sign;
  }
  .c-warning-icon{
    @extend .glyphicon-question-sign;
  }
}


.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}


.graph-container{
  border: solid 1px #ccc;
  background-color: white;
}

.graph-panel{
  margin-bottom: 20px;
  background: rgb(53, 53, 53);

  .btn{
    border-radius: 0px;
  }
}

.modal-content{
  margin-top: 100px;
}

.btn-xsm{
    padding: 2px 5px;
    font-size: 10px;
}

.modal-lg{
  width: 90%;
}

a:hover{
  cursor: pointer;
}

@media(min-width: 1250px){
  .query-result {
    min-height: 700px;
  }
}

@media (min-width: 1400px){
  .container {
    width: 1350px;
  }
}

@media (min-width: 1600px){
  .container {
    width: 1550px;
  }
}
