<div>
  <div class="row" data-ng-repeat="r in filter.timeRanges">
    <div class="col-md-11">
      <rzslider rz-slider-model="r.min"
              rz-slider-high="r.max"
              rz-slider-options="{ 'floor': 1900, 'ceil': 2050, 'step': 1 }"></rzslider>
    </div>

    <div class="col-md-1 text-center">
      <button class="btn btn-danger btn-xs" data-ng-click="filter.timeRanges.splice($index, 1)" style="margin-top:25px;">
        <i class="fa fa-times"></i>
      </button>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <button class="btn btn-primary" data-ng-click="addRange()">
        Add Filter &nbsp;<i class="fa fa-plus"></i>
      </button>
    </div>
  </div>
</div>
