<div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <select class="form-control" placeholder="FIELD" data-ng-model="field" data-ng-init="field='count'">
          <option value="count">Entity Count</option>
          <option value="tf">Term Frequency</option>
          <option value="tf-alpha">Term Occurrence Frequency</option>
          <option value="tf-idf">TF-IDF</option>
        </select>
      </div>
    </div>

    <div class="col-md-6">
      <div class="form-group">
        <select class="form-control"
                placeholder="OPERATION"
                data-ng-model="fn"
                data-ng-init="fn='sum'"
                data-ng-disabled="field == 'tf-idf'">
          <option value="count">Document Count</option>
          <option value="sum">Sum</option>
          <option value="avg">Average</option>
          <option value="max">Maximum</option>
          <option value="min">Minimum</option>
        </select>
      </div>
    </div>
  </div>
</div>
