<div>
  <div class="row">
    <div class="col-md-12">
      <div polar-filter-concept-search data-helpers="helpers"></div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="graph-container"
           tg-graph
           graph="graph"
           on-load="onGraphLoad(graph)"
           edge-menu="edgeMenu"
           node-menu="nodeMenu"
           metadata="{}"
           configration="{}"
           behavior="{}"
           stream="stream"
           helpers="{}"></div>
    </div>
  </div>

</div>
